In [1]:
# Dependencies and Setup

In [2]:
import pandas as pd

Player Count

In [3]:
file_to_load = "Resources/purchase_data.csv"

In [4]:
# Read Purchase File and store into Pandas data frame

In [5]:
purchase_data = pd.read_csv(file_to_load)

In [6]:
# Variable for total players with lenght

In [7]:
total_players = len(purchase_data["SN"].value_counts())

In [8]:
# Data Frame for total players

In [9]:
player_count = pd.DataFrame({"Total Players": [total_players]})

In [10]:
# Print Data Frame

In [11]:
player_count

   Total Players
0            576

Purchasing Analysis (Total)

In [12]:
# Basic calculations to obtain number of unique items, average price, etc.

In [13]:
number_of_unique_items = len((purchase_data["Item ID"]).value_counts())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

In [14]:
# Summary dataframe to hold the results

In [15]:
purchasing_analysis = pd.DataFrame ({"Number of Unique Items": [number_of_unique_items],
                                    "Average Price": [average_price],
                                    "Number of Purchases": [number_of_purchases],
                                    "Total Revenue": [total_revenue]})

In [16]:
# Format Dataframe for currency

In [17]:
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

In [18]:
# Print Dataframe

In [19]:
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

Gender Demographics

In [20]:
# Group by gender and filter duplicates

In [21]:
gender_filter = purchase_data.drop_duplicates(subset="SN", keep="first")

In [22]:
# Calculate Total Gender

In [23]:
total_gender = gender_filter["Gender"].value_counts()

In [24]:
# Calculation gender percentage

In [25]:
gender_percentage = (total_gender/total_players) * 100

In [26]:
# Create Dataframe

In [27]:
gender_demographics = pd.DataFrame({"Total Count": total_gender, "Percentage of Players": gender_percentage})

In [28]:
# Format Dataframe

In [29]:
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)

In [30]:
# Print Dataframe

In [31]:
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

In [32]:
# Basic calculations to obtain purchase count, avg.purchase price, avg.purchase total perperson etc. by gender

In [33]:
total_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
average_purchase_price = total_purchase_value/purchase_count
average_purchase_price = average_purchase_price.rename("Average Purchase Price")

In [34]:
# Calculation avg total per person

In [35]:
avg_total=total_purchase_value/total_gender
avg_total=avg_total.rename("Avg Total Purchase per Person")

In [36]:
# Create Dataframe

In [37]:
purchasing_analysis_gender = pd.DataFrame({"Purchase Count":purchase_count,
                                           "Average Purchase Price":average_purchase_price,
                                           "Total Purchase Value":total_purchase_value,
                                           "Avg Total Purchase per Person":avg_total})

In [38]:
# Format Dataframe

In [39]:
purchasing_analysis_gender["Average Purchase Price"]=purchasing_analysis_gender["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_gender["Total Purchase Value"]=purchasing_analysis_gender["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender["Purchase Count"]=purchasing_analysis_gender["Purchase Count"].map("{:,}".format)
purchasing_analysis_gender["Avg Total Purchase per Person"]=purchasing_analysis_gender["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [40]:
# Print Dataframe

In [41]:
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics

In [42]:
# Create bins

In [43]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [44]:
# Group by Age Groups

In [45]:
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)
age_group = purchase_data.groupby(["Age Groups"])

In [46]:
# Calculation for total

In [47]:
total_count = age_group["SN"].nunique()
bin_percentage = (total_count / total_players) * 100

In [48]:
# Create Dataframe

In [49]:
age_demographics = pd.DataFrame({"Total Count": total_count,
                               "Percentage of Players": bin_percentage})

In [50]:
# Format to Dataframe

In [51]:
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics = age_demographics.rename_axis(None)

In [52]:
# Print Dataframe

In [53]:
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

Purchasing Analysis (Age)

In [54]:
# Basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [55]:
purchase_count = age_group["Age"].count()
avg_purchase = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()
avg_purchase_person =(age_group["Price"].sum()/total_count)

In [56]:
# Create dataframe

In [57]:
purchase_analysis_age = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase Price": avg_purchase,
                                      "Total Purchase Value": total_purchase_value,
                                      "Avg Total Purchase per Person": avg_purchase_person})

In [58]:
# Format Dataframe

In [59]:
purchase_analysis_age["Average Purchase Price"] = purchase_analysis_age["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_age["Total Purchase Value"]  = purchase_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_age["Avg Total Purchase per Person"] = purchase_analysis_age["Avg Total Purchase per Person"].map("${:.2f}".format)
purchase_analysis_age = purchase_analysis_age.rename_axis("Age Ranges")

In [60]:
# Print Dataframe

In [61]:
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

Top Spenders

In [62]:
# Group by SN

In [63]:
sn_group = purchase_data.groupby("SN")

In [64]:
# Basic calculations to obtain the results in the table below

In [65]:
purchase_count_sn = sn_group["Age"].count()
avg_purchase_sn = sn_group["Price"].mean()
total_purchase_value_sn = sn_group["Price"].sum()

In [66]:
# Create Dataframe

In [67]:
top_spenders = pd.DataFrame({"Purchase count": purchase_count_sn,
                             "Average Purchase Price": avg_purchase_sn,
                             "Total Purchase value": total_purchase_value_sn})

In [68]:
# Sort total purchase value

In [69]:
top_spenders = top_spenders.sort_values("Total Purchase value", ascending = False)

In [70]:
# Format Dataframe

In [71]:
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase value"]  = top_spenders["Total Purchase value"].map("${:,.2f}".format)

In [72]:
# Print Dataframe

In [73]:
top_spenders.head()

             Purchase count Average Purchase Price Total Purchase value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Most Popular Items

In [74]:
# Retrieve the Item ID, Item Name, and Item Price columns

In [75]:
popular_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]

In [76]:
# Group by Data

In [77]:
popular_grouped = purchase_data.groupby(["Item ID","Item Name"])

In [78]:
# Calculations to obtain purchase count, item price, and total purchase value

In [79]:
purchase_count_pop = popular_grouped["Age"].count()
avg_purchase_pop = popular_grouped["Price"].mean()
total_purchase_value_pop = popular_grouped["Price"].sum()

In [80]:
# Create Dataframe

In [81]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_pop,
                                   "Item Price": avg_purchase_pop,
                                   "Total Purchase Value": total_purchase_value_pop})

In [82]:
# Sort total purchase value

In [83]:
most_popular_items = most_popular_items.sort_values("Purchase Count", ascending = False)

In [84]:
# Format Dataframe

In [85]:
most_popular_items["Total Purchase Value"]  = most_popular_items["Total Purchase Value"].map("${:,.2f}".format)
most_popular_items["Item Price"] = most_popular_items["Item Price"].map("${:.2f}".format)

In [86]:
# Print Dataframe

In [87]:
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

Most Profitable Items

In [88]:
# Group Data

In [89]:
most_profitable_items = purchase_data[["Purchase ID","Item ID","Item Name","Price"]]

In [90]:
most_profitable_items_group = most_profitable_items.groupby(["Item ID","Item Name"])

In [91]:
# Calculations of data

In [92]:
purchase_count_profit = most_profitable_items_group["Purchase ID"].count()
avg_purchase_profit = round(most_profitable_items_group["Price"].mean(),2)
total_purchase_value_profit = round(purchase_count_profit*avg_purchase_profit,2)

In [93]:
# Create Dataframe

In [94]:
most_profitable_items = pd.DataFrame({"Purchase Count": purchase_count_profit,
                                      "Item Price": avg_purchase_profit,
                                      "Total Purchase Value": total_purchase_value_profit})

In [95]:
# Sort total purchase value

In [96]:
most_profitable = most_profitable_items.sort_values("Total Purchase Value", ascending = False,inplace=True)

In [97]:
# Format Dataframe

In [98]:
most_profitable_items["Total Purchase Value"]  = most_profitable_items["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_items["Item Price"] = most_profitable_items["Item Price"].map("${:.2f}".format)

In [99]:
# Print Dataframe

In [100]:
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.93
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80